html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    padding: 0 !important;
    background-image: linear-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
    background-position:center bottom;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
}
.content {
    margin: 50px 0px 0px 0px !important;
    padding: 0 0 100px 0!important;
}
.banner{
    width:100%;
    height:80vh !important;
    object-fit: cover;
    object-position: center;
    box-shadow:0 0 10px darkslategray, 0 0 15px darkred;
}
img[src="imgs/west-clockTown.jpg"] {
    object-position: bottom;
    object-fit: 100% 100%;
}
.card img{
    width:100%;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position:center top;
}
.titleOfPage{
    font-size:75px;
}
.card:hover {
    color: red;
}
.skullKid{
    width:450px;
    height:auto;
    margin-top:100px;
}
.float{
    animation:float;
    animation-timing-function: linear;
    animation-duration:4s;
    animation-iteration-count: infinite;
    overflow:hidden;
}
@keyframes float{
    0%{
        transform: translate(0%, 0%)
    }
    50%{
        transform: translate(0%, -5%)
    }
    100%{
        transform: translate(0%, 0%)
    }
}
.modal {
    color: black !important;
}